*.gem
*.sw*
*.pyc
*.egg
*#*
build
dist
setuptools-*
.svn/*
.DS_Store
*.so
.Python
distribute-0.6.8-py2.6.egg
distribute-0.6.8.tar.gz
offset.egg-info
nohup.out
.coverage
doc/.sass-cache
bin/
lib/
man/
include/
html/


__pycache__
.tox
